@import "../../variables.scss";

.About {
  width: 100%;
  height: 100vh;
  // height: 100dvh;
  background-color: $lightDark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  overflow: hidden;

  // h2 {
  //   color: $orange;
  //   font-size: 30px;
  //   font-weight: $qui-b;
  // }
  p {
    font-size: 20px;
    font-weight: $qui;
    .name {
      color: $orange;
      cursor: pointer;
    }
  }

  .imgContainer {
    width: 100px;
    height: 150px;
    border: 2px solid white;
    position: absolute;
    border-radius: 9px;
    overflow: hidden;

    .background {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(1px);
      position: absolute;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
    }
  }
}

@media (min-width: 600px) {
  .About {
    p {
      width: 95%;
    }
  }
}

@media (min-width: 820px) {
  .About {
    p {
      width: 90%;
    }
  }
}

@media (min-width: 950px) {
  .About {
    p {
      width: 70%;
    }
  }
}

@media (min-width: 1050px) {
  .About {
    // h2 {
    //   font-size: 37px;
    // }
    p {
      font-size: 25px;
    }
  }
}
