@import "../../variables.scss";

$height: 60px;

.Contact {
  width: 100%;
  background-color: $lightDark;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    .button {
      width: 100%;
      height: $height;
      background-color: #474343;
      display: flex;
      flex-direction: row;
      border-radius: 6px;

      text-decoration: none;
      color: white;

      .left {
        width: $height;
        height: $height;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 60%;
          height: 60%;
        }
      }
      .right {
        flex: 1;
        padding: 5px 0;
        padding-right: 10px;
        height: $height;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .name {
          font-size: 15px;
        }
        .content {
          font-size: 21px;
        }
      }
      .rightCenter {
        justify-content: center;
      }
    }

    .buttonWithCopyContainer {
      height: $height;
      display: flex;
      flex-direction: row;
      border-radius: 6px;
      overflow: hidden;

      .button {
        width: auto;
        border-radius: 0;
      }

      .copyContainer {
        width: $height;
        height: $height;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #343030;
        cursor: pointer;
        transition: 0.2s;

        img {
          width: 50%;
          height: 50%;
        }

        &:hover {
          background-color: #343030b2;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  $width: 332px;
  .Contact {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
      .button {
        width: $width;
      }

      .buttonWithCopyContainer {
        width: $width;
        .button {
          width: calc($width - $height);
        }
      }
    }
  }
}
