@import "../../variables.scss";

$navHeight: 60px;

.hamburgerMenu {
  position: absolute;
  width: 100%;
  height: calc(100vh - $navHeight);
  height: calc(100dvh - $navHeight);
  top: $navHeight;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  overflow: hidden;

  .background {
    position: absolute;
    background-color: $lightDark;
    z-index: 0;
    width: 60px;
    height: 60px;
    right: 0;
    top: -60px;
    border-radius: 50%;
    transform-origin: center;
    border: 1px solid rgba(255, 255, 255, 0.01);
  }

  li {
    z-index: 1;
    list-style: none;
    font-size: 40px;
    font-weight: $qui-sb;
    cursor: pointer;
    position: relative;
    color: white;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 0%;
      height: 2px;
      background-color: $orange;
      width: 100%;
      transform: scaleX(0);
      border-radius: 10px;
      transition: 0.2s ease transform;
      transform-origin: right;
    }

    &:hover::before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
