@import "../../variables.scss";

.ProjectCard {
  width: 100%;
  max-width: calc(450px - 80px);
  background-color: $grayDark;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px;

  .left {
    width: calc(100vw - 80px - 24px);
    max-width: calc(450px - 80px - 24px);
    height: calc(0.666666666666667px * calc(100vw - 80px - 24px));
    max-height: calc(0.666666666666667px * 346);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .imgContainer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      overflow: hidden;
      background-color: red;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    h3 {
      font-size: 25px;
      font-weight: $qui-b;
      color: white;
    }
    p {
      font-size: 14px;
      font-weight: $qui;
    }

    .bottomContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .libraryContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;

        div {
          padding: 5px 6px;
          border-radius: 6px;
          background-color: #666262;
          span {
            font-size: 14px;
          }
        }
        div.main {
          background-color: $orange;
        }
        div.seeMore {
          background-color: #888787;
          cursor: pointer;
        }
      }
      .linkContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        div {
          // background-color: rgba(255, 255, 255, 0.1);
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          padding: 5px 6px;
          border-radius: 8px;
          cursor: pointer;

          span {
            color: white;
            font-size: 14px;
          }
          img {
            width: 14px;
            height: 14px;
            object-fit: contain;
          }
        }
      }
    }
  }
}

@media (min-width: 850px) {
  .ProjectCard {
    height: 509px;
    justify-content: space-between;
    .right {
      justify-content: space-between;
      flex: 1;
    }
  }
}

@media (min-width: 920px) {
  .ProjectCard {
    height: auto;
    max-width: 1000px;
    flex-direction: row;
    gap: 40px;

    .left {
      max-width: none;
      max-height: none;
      width: 50%;
      justify-content: flex-start;
    }
    .right {
      flex: initial;
      width: 50%;
      height: 100%;
      height: auto;

      h3 {
        font-size: 30px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 1050px) {
  .ProjectCard {
    .right {
      h3 {
        font-size: 32px;
      }
      p {
        font-size: 18px;
      }
      .bottomContainer {
        .linkContainer {
          div {
            span {
              font-size: 18px;
            }
            img {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
  }
}
